<!-- health.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pet Health</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('training') }}">Training & Behavior</a></li>
          <li><a href="{{ url_for('products') }}">Products & Accessories</a></li>
          <li><a href="{{ url_for('breeds') }}">Breeds & Types</a></li>
          <li><a href="{{ url_for('services') }}">Pet Services</a></li>
          <li><a href="{{ url_for('emergencies') }}">Emergencies</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Breeds and Type</h1>
      <p>hi there</p>
    </main>
  </body>
</html>