<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="forgot_pass.css" >
<title>Forgot Password</title>
    </head>
    <body>
        <p align="center">Forgot Password
        </p>
        <main>

        <div class="fogot"><label >Email<input type="email" class="email">
        </label>
        <label >Phone No. <input type="tel" class="phone-no">
        </label>
        <button class="button">Submit</button>
        <a href="sign up.html">Sign Up</a>
    </div>
</main>
    </body>
</html>