body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    
        background-image: url('puppy.jpg');
        background-repeat:no-repeat;
        background-size: cover;
    
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff67;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #cba185;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #573b24;
}

input:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0px 0px 5px rgba(76, 175, 80, 0.5);
}
.btn-group button {
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }
  